spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: appuser
    password: apppass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true